#content {
	position: relative;
	display: block;
	text-align: center;
}

#adicional {
	display:block;
}

#audio{
display: none
}

#collision {
	display:inline-block;
	text-align: center;
	color: green;
	margin: auto;
	padding: 1em;
}

#play-again {
	padding: 20px;
	padding-left: 62px;
	padding-right: 62px;
    margin: auto;
} 


#game-over, #game-over-overlay {
	position: absolute;
    margin: auto;
   	width: 750px;
   	height: 450px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: none;
}

#game-over-overlay {
    background-color: black;
    opacity: .5;
}

button:hover {
	background-color: lightgreen;
	color: white;
}

#game-over {
	vertical-align: middle;
	line-height: 90px;
    color: white;
}

#game-over h1 {
	font-size: 3em;
    font-family: sans-serif;
}